
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CommonStyle.css" rel="stylesheet" />
<div class="form-actions" style="text-align:right">
    <button style="text-align:right" type="button" onclick="javascript: printDiv('Report')" class="btn green">Print</button>
</div>
<br />
<div id="Report" class="page-content-inner">
    <div class="row ">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Report Of District Wholesale to Retailer
                    </div>
                </div>
                @*<center>*@
                  
                @*</center>*@
                <div class="portlet-body form" style="background-color:#f5f5f5">
                    <div class="form-body">
                       
                        <table id="myDatatable">
                            <thead>
                                <tr>
                                    <th>S.N</th>
                                    <th>Brewary Name</th>
                                    <th>Revenue</th>
                                    <th>Brand</th>
                                    <th>Batch No</th>
                                    <th>Total Bottle</th>
                                    <th>Date</th>
                                    <th>Vehicle No</th>
                                    <th>Receiver</th>
                                </tr>
                            </thead>
                        </table>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
        window.onload = L;
        function L() {
            debugger
            var oTable = $('#myDatatable').DataTable({
                "columns": [
                    { "data": "RowNum", "autoWidth": true },
                    { "data": "BrewaryName", "autoWidth": true },
                       { "data": "Revenue", "autoWidth": true },
                          { "data": "Brand", "autoWidth": true },
                    { "data": "BatchNo", "autoWidth": true },
                    { "data": "TotalBottle", "autoWidth": true },
                    { "data": "Date", "autoWidth": true },
                    { "data": "VehicleNo", "autoWidth": true },
                    { "data": "Receiver", "autoWidth": true },
                ]
            })
            callThis();
        }


        function callThis() {
            debugger
            $('#myDatatable').DataTable().destroy();
            var oTable = $('#myDatatable').DataTable({
                "ajax": {
                    "url": '/Report/GetGatePassForDistrictWholesaleToRetailor1',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "RowNum", "autoWidth": true },
                    { "data": "BrewaryName", "autoWidth": true },
                       { "data": "Revenue", "autoWidth": true },
                          { "data": "Brand", "autoWidth": true },
                    { "data": "BatchNo", "autoWidth": true },
                    { "data": "TotalBottle", "autoWidth": true },
                    { "data": "Date", "autoWidth": true },
                    { "data": "VehicleNo", "autoWidth": true },
                    { "data": "Receiver", "autoWidth": true },
                ]
            })

        }

        function printDiv(divID) {
            //Get the HTML of div
            var divElements = document.getElementById(divID).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
              "<html><head><title></title></head><body>" +
              divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;


        }


</script>

