<div class="alert alert-danger displayNone" id="danger-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Error ! </strong>
    <span id="lblError"></span>
</div>