@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Error Details:</h4>
<p>Controller Name: @Model.ControllerName</p>
<p>Action Name: @Model.ActionName</p>
<p>Exception: @Model.Exception</p> 