
@{
    /**/

    ViewBag.Title = "UploadGatePass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*.displayNone {
        display: block;
    }*/

    /*#docs {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;*/
    }
</style>

@using (Html.BeginForm("UploadGatePass", "GatePass", FormMethod.Post, new { @id = "UploadGatePassform", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   


    @Html.Partial("~/Views/Shared/_ErrorMessage.cshtml")

    <div class="page-content-inner">
        <div class="row ">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Upload CSV After Receiving Stock
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div>
                            <table class="table table-striped table-bordered table-hover">
                                <tr>

                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Consignor Name
                                    </th>
                                    <th>
                                        TotalBox
                                    </th>
                                    <th>
                                        Total Bottels/Can
                                    </th>
                                    <th>
                                        TotalLitres
                                    </th>
                                    <th>
                                        ConsiderationFees
                                    </th>
                                    <th>
                                        Vehicle Number
                                    </th>
                                    <th>
                                        Vehicle Agency Details
                                    </th>


                                    <th></th>

                                </tr>
                                <tr>

                                    <td>1/10/2018 </td>

                                    <td>
                                        Wave Distillers & Breweries Limited.
                                    </td>
                                    <td>
                                        10
                                    </td>
                                    <td>
                                        120
                                    </td>
                                    <td>
                                        120
                                    </td>
                                    <td>
                                        12000
                                    </td>
                                    <td>
                                        UP 32 AR 1456
                                    </td>
                                    <td>
                                        SATKAR TRANSPORT COMPANY
                                    </td>
                                    <td>
                                        <input type="file" id="UploadGatePassCsv" name="field1" class="btn btn-primary required" value="Upload Gatepass"><br />
                                        @*<button type="submit" id="UploadGatePass1" value="Upload Gate Pass" class="btn green displayNone" >Upload Gate Pass</button>*@
                                        <button type="submit" value="" class="btn green" id="btnUpload" onclick="return ValidateExtension(this)">Upload Gate Pass</button>
                                    </td>
                                </tr>
                                <tr>


                                    <td>5/10/2018 </td>
                                    <td>
                                        Mohan Meekin Gold Water
                                    </td>
                                    <td>
                                        20
                                    </td>
                                    <td>
                                        240
                                    </td>
                                    <td>
                                        240
                                    </td>
                                    <td>
                                        24000
                                    </td>
                                    <td>
                                        UP 32 PO 4589
                                    </td>
                                    <td>
                                        SATKAR TRANSPORT COMPANY
                                    </td>

                                    <td>
                                        <input type="file" id="UploadGatePassCsv" class="btn btn-primary" accept=".csv" value="Upload Gatepass"><br />
                                        @*<button type="button" id="UploadGatePass2" value="Upload Gate Pass" class="btn green">Upload Gate Pass</button>*@
                                        <button type="submit" value="" class="btn green" id="btnUpload" onclick="return ValidateExtension(this)">Upload Gate Pass</button>
                                    </td>

                                </tr>
                                <tr>

                                    <td>6/10/2018 </td>
                                    <td>
                                        Mohan Meekin Gold Water
                                    </td>
                                    <td>
                                        30
                                    </td>
                                    <td>
                                        360
                                    </td>
                                    <td>
                                        360
                                    </td>
                                    <td>
                                        36000
                                    </td>
                                    <td>
                                        UP 45 PO 4789
                                    </td>
                                    <td>
                                        SATKAR TRANSPORT COMPANY
                                    </td>

                                    <td>
                                        <input type="file" id="UploadGatePassCsv" class="btn btn-primary" accept=".csv" value="Upload Gatepass"><br />
                                        @*<button type="button" id="UploadGatePass3" value="Upload Gate Pass" class="btn green">Upload Gate Pass</button>*@
                                        <button type="submit" value="" class="btn green" id="btnUpload" onclick="return ValidateExtension(this)">Upload Gate Pass</button>
                                    </td>

                                </tr>
                                <tr>
                                    <td>10/10/2018 </td>
                                    <td>
                                        Wave Distillers & Breweries Limited
                                    </td>
                                    <td>
                                        40
                                    </td>
                                    <td>
                                        480
                                    </td>
                                    <td>
                                        480
                                    </td>
                                    <td>
                                        48000
                                    </td>
                                    <td>
                                        UP 45 DQ 6398
                                    </td>
                                    <td>
                                        SATKAR TRANSPORT COMPANY
                                    </td>

                                    <td>
                                        <input type="file" id="UploadGatePassCsv" class="btn btn-primary" accept=".csv" value="Upload Gatepass"><br />
                                        <button type="submit" value="" class="btn green" id="btnUpload" onclick="return ValidateExtension(this)">Upload Gate Pass</button>
                                    </td>

                                </tr>
                                @*<tr>

                                        <td>
                                            5
                                        </td>

                                        <td>
                                            Test Brand
                                        </td>
                                        <td>
                                            Brand Reg 1
                                        </td>
                                        <td>
                                            40
                                        </td>
                                        <td>
                                            BE
                                        </td>
                                        <td>
                                            FL3
                                        </td>
                                        <td>
                                            LK1
                                        </td>
                                        <td>
                                            55
                                        </td>

                                        <td>
                                           <input type="file" class="btn green" value="Upload Gatepass">

                                        </td>

                                    </tr>
                                    <tr>

                                        <td>
                                            7
                                        </td>

                                        <td>
                                            Test Brand
                                        </td>
                                        <td>
                                            Brand Reg 1
                                        </td>
                                        <td>
                                            4.3
                                        </td>
                                        <td>
                                            BE
                                        </td>
                                        <td>
                                            FL3
                                        </td>
                                        <td>
                                            LK1
                                        </td>
                                        <td>
                                            12
                                        </td>

                                        <td>
                                           <input type="file" class="btn green" value="Upload Gatepass">

                                        </td>

                                    </tr>
                                    <tr>

                                        <td>
                                            6
                                        </td>

                                        <td>
                                            Test Brand
                                        </td>
                                        <td>
                                            Brand Reg 1
                                        </td>
                                        <td>
                                            40
                                        </td>
                                        <td>
                                            BE
                                        </td>
                                        <td>
                                            FL3
                                        </td>
                                        <td>
                                            LK1
                                        </td>
                                        <td>
                                            55
                                        </td>

                                        <td>
                                           <input type="file" class="btn green" value="Upload Gatepass">

                                        </td>

                                    </tr>
                                    <tr>

                                        <td>
                                            8
                                        </td>

                                        <td>
                                            Test Brand
                                        </td>
                                        <td>
                                            Brand Reg 1
                                        </td>
                                        <td>
                                            4.3
                                        </td>
                                        <td>
                                            BE
                                        </td>
                                        <td>
                                            FL3
                                        </td>
                                        <td>
                                            LK1
                                        </td>
                                        <td>
                                            12
                                        </td>

                                        <td>
                                           <input type="file" class="btn green" value="Upload Gatepass">

                                        </td>

                                    </tr>
                                    <tr>

                                        <td>
                                            9
                                        </td>

                                        <td>
                                            Test Brand
                                        </td>
                                        <td>
                                            Brand Reg 1
                                        </td>
                                        <td>
                                            1.2
                                        </td>
                                        <td>
                                            BE
                                        </td>
                                        <td>
                                            FL3
                                        </td>
                                        <td>
                                            LK1
                                        </td>
                                        <td>
                                            1212
                                        </td>

                                        <td>
                                            <input type="file" class="btn green" value="Upload Gatepass">

                                        </td>

                                    </tr>*@

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



}


<script src="~/Scripts/CommonScript.js"></script>
<script>

    //$(document).ready(function () {

    //    $('#UploadGatePassform').validate({ // initialize the plugin
    //        rules: {
    //            field1: {
    //                required: true,
    //                extension: "csv"
    //            }
    //        },
    //        submitHandler: function (form) { // for demo
    //            alert('valid form submitted'); // for demo
    //            return false; // for demo
    //        }
    //    });

    //});

    $("#UploadGatePass1").click(function () {
        alert("CSV File Uploaded Successfully");
    });
    $("#UploadGatePass2").click(function () {
        alert("CSV File Uploaded Successfully");
    });
    $("#UploadGatePass3").click(function () {
        alert("CSV File Uploaded Successfully");
    });
    $("#UploadGatePass4").click(function () {
        alert("CSV File Uploaded Successfully");
    });

</script>




